ul.incidents {
    float: left;
    list-style-type: none;
    padding-left: 0;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    margin-right: 2em;
}

ul.incidents > li {
    padding-right: 2em;
    border: #777777;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

div.controller {
    width: 1000px;
    margin: 0 auto;
}

div.map {
    float: right;
    padding: 1em;
    box-shadow: 0 0 16px #777777;
    border-radius: 2px;
}

p.less-important {
    color: #777777
}
