.day { stroke: #ccc; }
.day-absent { fill: #eeeeee; }
.absent { fill: #eeeeee; }
.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
svg {
    /* Padding to make sure that paths don't get clipped */
    padding: 1em;
}

text.chart-title, text.chart-sub-title { text-anchor: middle; }
text.chart-title { font-size: 32 }
text.chart-subtitle { font-size: 20 }

select {
    width: 100%;
    min-width: 250px;
}
