{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {{  super() }}
  <link rel='stylesheet' href="{{ url_for('static', filename='css/dps.css') }}"/>
{% endblock %}


{% block content %}
  <div class='controller'>
    <div class='info'>
      <ul class='incidents' data-bind='foreach: incidents'>
        <li data-bind='click: $root.centerOnIncident'>
          <div>
            <div data-bind='text: crime'></div>
            <span data-bind='text: time'></span>
            <p class='less-important' data-bind='text: description'></p>
          </div>
        </li>
      </ul>
      <button id='btn-prev' 
              data-bind='click: prevPage, enable: page'>
            Prev
      </button>
      <button id='btn-next' data-bind='click: nextPage'>Next</button>
      <div class='search'>
        <label for='txt-search'>Street Address: </label>
        <input id='txt-search' data-bind='value: address, update: "afterkeydown"'></input>
        <button data-bind='click: searchAddress'>Search</button>
      </div>
    </div>
    <div class='map'>
      <img id='map'/>
    </div>
  </div>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js'></script>
  <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.5/gmaps.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js'></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/dps.js') }}"> </script>
{% endblock %}
