{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {{  super() }}
  <link rel='stylesheet' href="{{ url_for('static', filename='css/dps.css') }}"/>
{% endblock %}


{% block content %}
  <div class='pure-u-1'>
    <div class='pure-form'>
      <!--[if lt IE 10]> <label for='txt-search'>Street Address: </label> <![endif]-->
      <input id='txt-search' placeholder='Address: eg. 1503 Washington Heights'
             type='text' class='pure-input-2-3'
             data-bind='value: address, update: "afterkeydown", event: { "keyup": inputChange }'>
      </input>
      <button class='pure-button pure-button-large'
              data-bind='click: searchAddress'>
        <i class='fa fa-search'></i>
      Search
      </button>
    </div>
    <img id='map' data-src='holder.js/610x300/text:map of Ann Arbor'/>
  </div>
  <div class='pure-u-2-3'>
    <h2>Recent Incidents</h2>
    <span data-bind='text: googleAddr'></span>
    <button style='display: none' class='pure-button pure-button-large'
            data-bind='visible: googleAddr, click: clearAddress'>
            Clear Address
    </button>
    <ul class='incidents' style='display: none'
        data-bind='foreach: incidents, visible: incidents'>
      <li data-bind='click: $root.centerOnIncident'>
        <div>
          <div data-bind='text: crime'></div>
          <span data-bind='text: time'></span>
          <p class='less-important' data-bind='text: description'></p>
        </div>
      </li>
    </ul>
    <button id='btn-prev' data-bind='click: prevPage, enable: page'
            class='pure-button pure-button-large'>
      <i class="fa fa-angle-double-left fa-lg"></i>
    </button>
    <button id='btn-next' data-bind='click: nextPage'
            class='pure-button pure-button-large'>
      <i class="fa fa-angle-double-right fa-lg"></i>
    </button>
  </div>
  <div class='pure-u-1'>
    {% block post %}{% endblock %}
  </div>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js'></script>
  <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.5/gmaps.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js'></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/dps.js') }}"> </script>
{% endblock %}
