{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' href="{{ url_for('static', filename='css/statistics.css') }}"/>
{% endblock %}

{% block title %}Incident Statistics{% endblock %}

{% block content %}
  <div class='pure-memu pure-menu-open pure-menu-horizontal pure-u-1'>
    <ul>
      <li>
        <input type='radio' name='options' id='option-months' value='Months'
               data-bind='checked: selectedHeatMap'/>
        <label class='btn' for='option-months'>Months</label>
      </li>
      <li>
        <input type='radio' name='options' id='option-weeks' value='Weeks'
               data-bind='checked: selectedHeatMap'/>
        <label class='btn' for='option-weeks'>Weeks</label>
      </li>
      <li>
        <input type='radio' name='options' id='option-days' value='Days'
               data-bind='checked: selectedHeatMap'/>
        <label class='btn' for='option-days'>Days</label>
      </li>
      <li>
        <input type='radio' name='options' id='option-week' value='Weekday'
               data-bind='checked: selectedHeatMap'/>
        <label class='btn' for='option-week'>Weekday</label>
      </li>
      <li>
        <span class='dropdown'>
          <select data-bind='options: categories, value: selectedCategory'>
          </select>
        </span>
      </li>
    </ul>
  </div>

  <div class='pure-u-1'>
    <svg id='heatMap'></svg>
  </div>

  <div class='pure-u-1-2'><svg id='clock-morning'></svg></div>
  <div class='pure-u-1-2'><svg id='clock-afternoon'></svg></div>

  <div class='pure-u-1'>
    {% block post %}{% endblock %}
  </div>

  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js'></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/statistics.js') }}"> </script>
{% endblock %}
