{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' href="{{ url_for('static', filename='css/statistics.css') }}"/>
{% endblock %}

{% block title %}Incident Statistics{% endblock %}

{% block content %}
  <form class='pure-form pure-u-1'>
    <div class='pure-memu pure-menu-open pure-menu-horizontal pure-u-1'>
      <ul>
        <li>
          <button class='pure-button'
            data-bind='css: { "pure-button-active": selectedHeatMap() === "Months" },
                       click: function() { this.selectedHeatMap("Months"); }'>
            Months
          </button>
        </li>
        <li>
          <button class='pure-button'
            data-bind='css: { "pure-button-active": selectedHeatMap() === "Weeks" },
                       click: function() { this.selectedHeatMap("Weeks"); }'>
            Weeks
          </button>
        </li>
        <li>
          <button class='pure-button'
            data-bind='css: { "pure-button-active": selectedHeatMap() === "Days" },
                       click: function() { this.selectedHeatMap("Days"); }'>
            Days
          </button>
        </li>
        <li>
          <button class='pure-button'
            data-bind='css: { "pure-button-active": selectedHeatMap() === "Weekday" },
                       click: function() { this.selectedHeatMap("Weekday"); }'>
            Weekday
          </button>
        </li>
        <li class='pure-u-2-5'>
          <select data-bind='options: categories, value: selectedCategory'>
          </select>
        </li>
      </ul>
    </div>
  </form>

  <div class='pure-u-1'>
    <svg id='heatMap'></svg>
  </div>

  <div class='pure-u-1-2'><svg id='clock-morning'></svg></div>
  <div class='pure-u-1-2'><svg id='clock-afternoon'></svg></div>

  <div class='pure-u-1'>
    {% block post %}{% endblock %}
  </div>

  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js'></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/statistics.js') }}"> </script>
{% endblock %}
